<strong>Olá, {{ deliveryman }}!</strong>
<p>Você possui uma nova encomenda aguardando para ser retirada! </p>
<p>Confira os dados abaixo: </p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Endereço: </strong> {{ street }}, {{ number }}, {{ city }} - {{ state }} <br />
  <strong>CEP: </strong> {{ cep }} <br />
  <br />
  <small>
    Obs: retiradas só podem ser feitas entre 08:00 e 18:00h
  </small>
</p>
